.proj-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 5rem 0;
}

.proj-cont h2 {
    font-size: 4.5rem;
    font-weight: 600;
    position: relative;
    margin-bottom: 2rem;
}
.proj-cont h2::after{
    content: "";
    position: absolute;
    left: 20%;
    bottom: -0.5rem;
    transform: translateX(-50);
    width: 15rem;
    height: .5rem;
    background-color: var(--yellow);
}

/* PROJECT GRID */
.proj-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20rem;
}

.proj-inner {
    position: relative;
    width: 35rem;
    height: 30rem;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.proj-card:hover .proj-inner {
    transform: rotateY(180deg);
}

.proj-front, .proj-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1.5rem;
    border: var(--blue) 0.5rem solid;
}

/* FRONT */
.proj-front {
    background-color: var(--white);
    width: 100%;
    justify-content: space-between;
}

.proj-front .name {
    font-size: 1.8rem;
}

.proj-front .type {
    color: var(--white);
    font-weight: 500;
    font-style: var(--body);
    font-size: 1.5rem;
}
.type-cont {
    background-color: var(--blue);
    height: 2rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    right: 0;
    position: absolute;
    top: 25%;
    right: 5%;
}

.proj-front .summary {
    font-size: 1.3rem;
}

/* BACK */
.proj-back {
    background-color: var(--yellow);
    transform: rotateY(180deg);
}

.proj-back h3 {
    text-align: center;
    font-size: 2rem;
}

.proj-back button {
    position: absolute;
    bottom: 3%;
    right: 2%;
    padding: .1rem 2rem;
    border-radius: 10rem;
    border: transparent .3rem solid;
    background-color: var(--blue);
}

.proj-back button:hover {
    transform: translateY(2px);
}

.proj-back a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.6rem;
}

/* TECH GRID */
.tech-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.tech-grid p {
    color: var(--blue);
    font-family: var(--body);
    font-weight: 600;
    font-size: 1.5rem;
    padding: 2rem;
}

/* RESPONSIVENESS */
@media (max-width: 1024px) {
    .proj-cont {
        margin: 2rem 0 4rem 0;
        width: 90%;
    }
    
    .proj-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        width: 90%;
    }
    .proj-inner {
        width: 100%; 
        height: 28rem;
    }

    .proj-front .name {
        font-size: 1.6rem;
    }

    .proj-front .type {
        font-size: 1.3rem;
    }

    .type-cont {
        width: 8rem;
        height: 1.8rem;
        font-size: 1.1rem;
        top: 10%;
        right: 5%;
    }

    .proj-front .summary {
        font-size: 1.15rem;
    }

    .proj-back h3 {
        font-size: 1.6rem;
    }

    .proj-back button {
        padding: 0.2rem 1.5rem;
        font-size: 1.1rem;
        bottom: 2%;
        right: 2%;
    }

    .tech-grid {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    .tech-grid p {
        font-size: 1.2rem;
        padding: 0.5rem 0;
    }
}

@media (max-width: 600px) {

    .proj-cont h2 {
        font-size: 2.5rem;
    }
    .proj-cont h2::after {
        width: 8rem;
        bottom: -0.3rem;
    }

    .proj-grid {
        grid-template-columns: 1fr; 
        gap: 3rem;
        width: 90%;
    }

    .proj-inner {
        width: 100%;
        height: auto;
    }

    .proj-front, .proj-back {
        position: relative;
        width: 100%;
        height: auto;
        transform: none; 
        backface-visibility: visible;
        padding: 1rem;
    }

    .proj-card:hover .proj-inner {
        transform: none;
    }

    .proj-front .name {
        font-size: 1.5rem;
    }

    .proj-front .type {
        font-size: 1.2rem;
    }

    .type-cont {
        height: 1.5rem;
        width: 8rem;
        font-size: 1rem;
        top: 10%;
        right: 5%;
    }

    .proj-front .summary {
        font-size: 1.1rem;
    }

    .proj-back h3 {
        font-size: 1.5rem;
    }

    .proj-back button {
        bottom: 2%;
        right: 2%;
        padding: 0.3rem 1.5rem;
        font-size: 1rem;
    }

    .tech-grid {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    .tech-grid p {
        font-size: 1.2rem;
        padding: 0.5rem 0;
    }
}