.skill-cont {
    background-color: var(--white);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
}

.skill-cont h2 {
    font-size: 4.5rem;
    font-weight: 600;
    position: relative;
    margin-bottom: 2rem;
}

.skill-cont h2::after {
    content: "";
    position: absolute;
    left: 35%;
    bottom: -0.5rem;
    transform: translateX(-50);
    width: 15rem;
    height: .5rem;
    background-color: var(--yellow);
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 80%;
    padding: 1rem;
    position: relative;
    transition: transform 0.15s ease-out;
}

/* RESPONSIVENESS */
@media (max-width: 600px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
    .skill-cont h2 {
        font-size: 2.2rem;
    }
}