.footer {
    height: 25vh;
    background-color: var(--blue);
    padding: 1rem;
}

.foot-cont {
    display: flex;
    justify-content: space-between;
    margin: 0 1.5rem 0 1.5rem;
}

h4 {
    font-size: 2rem;
    color: var(--white);
    font-weight: 400;
}

.foot-sum, .navi, .links {
    width: 25rem;
}

.foot-sum p {
    font-size: 1.3rem;
    font-weight: 400;
    font-family: var(--body);
}

.navi-grid {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 40rem;
}

.navi-grid li {
    font-size: 1.3rem;
    list-style: none;
}

.navi-grid li a {
    color: var(--yellow);
    text-decoration: none;
}

.navi-grid li a:hover {
    text-decoration: underline;
}

.icons {
    display: flex;
    gap: 2rem;
}