nav {
    background: transparent;
    margin-left: 10%;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 8rem;
}

nav ul li a{
    list-style: none;
    font-family: var(--heading);
    font-weight: 200;
    font-size: 2rem;
    color: var(--yellow);
    text-decoration: none;
}